@model EditEntryViewModel

@functions{
    public object getEventParameters() {
        var room = Context.Request.Query["room"].ToString();
        var day = Context.Request.Query["day"].ToString();
        var slot = int.Parse(Context.Request.Query["slot"].ToString());

        return new {
            room,
            slot,
            day,
        };
    }

    public bool checkIfEmptyEntry() {
        if (@Model.teacher == "select teacher" || @Model.group == "select group"|| @Model.clas == "select class")
            return true;

        return false;

    }
}

@using (Html.BeginForm("SaveEntry", "Home", FormMethod.Post, new {id="data"})) {
    <table class="table">
        <tr>
            <th><label for="room">Room</label></th>
            <th>
                <input class="input-data" type="text" id="room" name="room" style="width:120px" value=@(Context.Request.Query["room"].ToString()) readonly>
            </th>
        </tr>
        <tr>
            <th><label for="slot">Slot</label></th>
            <th>
                <input class="input-data" type="text" id="slot" name="slot" style = "width:120px" value=@(Context.Request.Query["slot"].ToString()) readonly>
            </th>
        </tr>
        <tr>
            <th><label for="day">Day</label></th>
            <th>
                <input class="input-data" type="text" id="day" name="day" style = "width:120px" value=@(Context.Request.Query["day"].ToString()) readonly>
            </th>
        </tr>
        <tr>
            <th>Group</th>
            <th>
                @{
                    @Html.DropDownList("group", (SelectList)@Model.groupsItems, @Model.group, new { style = "width:140px"})
                }
            </th>
        </tr>
        <tr>
            <th>Teacher</th>
            <th>
                @{
                    @Html.DropDownList("teacher", (SelectList)@Model.teachersItems, @Model.teacher, new { style = "width:140px"})
                }
            </th>
        </tr>
        <tr>
            <th>Class</th>
            <th>
                @{
                    @Html.DropDownList("clas", (SelectList)@Model.classesItems, @Model.clas, new { style = "width:140px"})
                }
            </th>
        </tr>
    </table>
}

<div>
    <input class="button button1" type="submit" value="Save" form="data">

     @if (!checkIfEmptyEntry()) {
        <a href=@Url.Action("UnassignEntry", "Home", getEventParameters())>
            <button method="post" class="button button5" name=Unassign>Unassign</button>
        </a>
    }

    <a href=@Url.Action("Index", new {room = @Context.Request.Query["room"].ToString()})>
        <button method="post" class="button button3">Cancel</button>
    </a>
</div>