@model SchoolPlannerModel
@{
    string currentRoom = "0";

    ViewData["Table"] = "School Planner";

    string[] ColumnsHeaders = new string[] {
        ""
        ,"Monday"
        ,"Tuesday"
        ,"Wednesday"
        ,"Thursday"
        ,"Friday"
    };

    string[] RowsHeaders = new string[] {
        "8:00-8:45"
        ,"8:55-9:40"
        ,"9:50-11:35"
        ,"11:55-12:40"
        ,"12:50-13:35"
        ,"13:45-14:30"
        ,"14:40-15:25"
        ,"15:35-16:20"
        ,"16:30-17:15"
    };
}

<body>

<div class = "roomSelection">
    Room&nbsp;&nbsp;
    <select onchange="currentRoom = this.value;">
        @{
            if (@Model.getRoomList() != null && !@Model.getRoomList().Any()) {
                foreach (var room in @Model.getRoomList() ?? new List<string>()) {
                    <option>@room</option>
                }
                currentRoom = @Model.getRoomList().First();
            }

        }
    </select>
</div>

<div class="table-responsive">
    &nbsp;
    <table class="table table-bordered">
        <thead>
            <tr>
                @{
                    foreach (var col in ColumnsHeaders)
                    {
                        <th>
                            @col
                        </th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @{
                    for (var slot = 0; slot < RowsHeaders.Length; slot++)
                    {
                        <th>
                            @RowsHeaders[slot]
                            @{
                                for (var day = 0; day < ColumnsHeaders.Length - 1; day++) {
                                    <td ondblclick="window.location='Home/EditDictionary'">
                                        @Model.getActivityByRoomAndSlot(currentRoom, slot, ColumnsHeaders[day]);
                                    </td>
                                }
                            }
                        <tr></tr>
                        </th>
                    }
                }
            </tr>
        </tbody>
    </table>
</div>


</body>