@model SchoolPlannerViewModel

@{
    string[] ColumnsHeaders = new string[] {
        ""
        ,"Monday"
        ,"Tuesday"
        ,"Wednesday"
        ,"Thursday"
        ,"Friday"
};

    string[] RowsHeaders = new string[] {
        "8:00-8:45"
        ,"8:55-9:40"
        ,"9:50-11:35"
        ,"11:55-12:40"
        ,"12:50-13:35"
        ,"13:45-14:30"
        ,"14:40-15:25"
        ,"15:35-16:20"
        ,"16:30-17:15"
    };
}

<div class="form-group">
    Room
    @{
        @Html.DropDownListFor(m=>m.currentRoom, (SelectList)ViewBag.Rooms, new { style = "width:60px", onchange="window.location.href='Home/UpdateRoom?room='+this.value" })
    }
</div>

<div class="table-responsive col-container" id="schoolTable">
    <table class="table table-bordered">
        <thead>
            <tr bgcolor="#E8E9EB">
                @{
                    foreach (var col in ColumnsHeaders)
                    {
                        <th>
                            @col
                        </th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @{
                    for (var slot = 0; slot < RowsHeaders.Length; slot++)
                    {
                        <th bgcolor="#E8E9EB">
                            @RowsHeaders[slot]
                            @{
                                for (var day = 1; day < ColumnsHeaders.Length; day++)
                                {
                                    <td class="entryData">
                                        @{
                                                var currentGroup = @Model.GetGroup(@Model.currentRoom, slot, @ColumnsHeaders[day]);

                                            <a href=@Url.Action("EditEntry", new {room = @Model.currentRoom, slot = @slot, day =
                                                                    @ColumnsHeaders[day]})>
                                                <button class="table-entry" type="button">@currentGroup</button>
                                            </a>
                                        }
                                    </td>
                                }
                            }
                        <tr></tr>
                    </th>
                    }
            }
            </tr>
        </tbody>
    </table>
</div>
